html {
	box-sizing: border-box;
	font-family: sans-serif;
	height: 100%;
	background-color: aliceblue;
	color: #4527a0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Navbar */
nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #4527a0;
	color: aliceblue;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

nav > menu#navbar-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style-type: none;
}

nav > menu#navbar-buttons > button {
	text-align: center;
	color: inherit;
	font-size: 1.25em;
	font-weight: bold;
	padding: 12px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	box-shadow: inset aliceblue 0 0;

	transition:
		box-shadow 0.1s,
		color 0.1s;
}

nav > menu#navbar-buttons > button.active {
	color: #4527a0;
	box-shadow: inset aliceblue 0 calc(-1.25em - 24px);
}

/* Language selection */
nav > select#language-select {
	color: #4527a0;
	font-size: 1em;
	font-weight: bold;
	padding: calc(12px + 0.125em);
	border: none;
	margin: none;
	background-color: aliceblue;
}

nav > select#language-select > option {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	padding: inherit;
	border: inherit;
	margin: inherit;
	background-color: inherit;
}

nav > select#language-select > option:hover {
	background-color: #4527a0;
}

nav > div.space {
	flex-grow: 1;
}

/* Email contact info at the end of navbar */
nav > address {
	margin: 12px;
}

/* Actual pages */
main {
	width: 60%;
	margin: auto;
	display: block;
	background-color: aliceblue;
}

.page-content {
	width: 100%;
	flex-grow: 1;
	overflow: scroll;
}

.youtube-embed {
	width: 100%;
	height: 100%;
}

article {
	display: flex;
	flex-direction: row;
	width: 100%;
}

article.reverse {
	flex-direction: row-reverse;
}

section {
	overflow: hidden;
	padding: 1em;
}

section.size-4 {
	width: 40%;
}

section.size-6 {
	width: 60%;
}

section.flex-center {
	align-self: center;
}

section.center {
	text-align: center;
}

section:has(> iframe.youtube-embed) {
	aspect-ratio: 16/9;
}

p {
	margin-bottom: 1em;
}

p.caption {
	margin-bottom: 0;
	color: gray;
	font-size: .8em;
}

img {
	width: 100%;
	max-width: 500px;
	display: inline-block;
	margin: 0 auto;
	object-fit: cover;
}

ul {
	padding-left: 3em;
}

a {
	color: crimson;
}

.page-button {
	display: block;
	width: 100%;
	text-align: center;
	background-color: #4527a0;
	color: aliceblue;
	font-size: 1.25em;
	font-weight: bold;
	padding: 12px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

@media only screen and (max-width: 1280px) {
	nav {
		padding-left: 5%;
		padding-right: 5%;
	}

	main {
		width: 768px;
	}
}

/* Mobile */
@media only screen and (max-width: 768px) {
	nav {
		flex-direction: column;
		padding: 0px;
	}

	nav > menu#navbar-buttons {
		width: 100%;
		flex-direction: column;
		margin: 0px;
	}

	nav > menu#navbar-buttons > button {
		width: 100%;
	}

	nav > select#language-select {
		width: 100%;
	}

	nav > div.space {
		height: calc(24px + 1.25em);
	}

	main {
		width: 100%;
	}

	.page-content {
		overflow: inherit;
	}

	article {
		flex-direction: column;
	}

	article.reverse {
		flex-direction: column;
	}

	section.size-4 {
		width: 100%;
	}

	section.size-6 {
		width: 100%;
	}
}
