html {
	box-sizing: border-box;
	font-family: sans-serif;
	height: 100%;
	background-color: aliceblue;
	color: #4527A0;
	
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0px;
	padding: 0px;

}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

/* Navbar */
nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #4527A0;
	color: aliceblue;
	padding-left: 12.5%;
	padding-right: 12.5%;

}

nav>menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style-type: none;

}

nav>menu>li>button {
	text-align: center;
	color: inherit;
	font-size: 1.25em;
	font-weight: bold;
	padding: 12px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	box-shadow: inset aliceblue 0 0;

	transition: box-shadow .1s, color .1s;

}

nav>menu>li>button.active {
	color: #4527A0;
	box-shadow: inset aliceblue 0 calc(-1.25em - 24px);

}

/* Email contact info at the end of navbar */
nav>address {
	margin: 12px;
	text-align: end;
	flex-grow: 1;

}

/* Actual pages */
iframe.page-content {
	width: 100%;
	flex-grow: 1;
	border: none;
	display: none;

}

iframe.page-content.active {
	display: block;

}

iframe.youtube-embed {
	width: 100%;
	height: 100%;

}

article {
	display: flex;
	flex-direction: row;
	width: 60%;

}

article.reverse {
	flex-direction: row-reverse;

}

section {
	overflow: hidden;
	padding: 1em;

}

section.size-4 {
	width: 40%;

}

section.size-6 {
	width: 60%;

}

section.flex-center {
	align-self: center;

}

section.center {
	text-align: center;

}

section:has(> iframe.youtube-embed) {
	aspect-ratio: 16/9;

}

p {
	margin-bottom: 1em;

}

img {
	width: 100%;
	max-width: 500px;
	display: inline-block;
	margin: 0 auto;
	object-fit: cover;

}

ul {
	padding-left: 3em;

}

a {
	color:crimson;
}

@media only screen and (max-width: 1280px) {
	nav {
		padding-left: 5%;
		padding-right: 5%;
	
	}

	article {
		width: 768px;
	
	}

}

/* Mobile */
@media only screen and (max-width: 768px) {
	nav {
		flex-direction: column;
		padding: 0px;

	}

	nav>menu {
		width: 100%;
		flex-direction: column;
		margin: 0px;

	}

	nav>menu>li {
		width: 100%;

	}

	nav>menu>li>button {
		width: 100%;

	}

	article {
		flex-direction: column;
		width: 100%;
	
	}
	
	article.reverse {
		flex-direction: column;

	}
	
	section.size-4 {
		width: 100%;
	
	}
	
	section.size-6 {
		width: 100%;
	
	}

}
